@import url('https://fonts.googleapis.com/css?family=Lato:300,800|Oswald&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	}

body {
	font-family: "Lato", sans-serif;
	color: #777777;
	}

h2 , h3 , h4,.nav_link{
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #635b4e;
	}
.nav_link_property{
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #635b4e;
	font-size: 0.8em;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 0;
	}
.logo{
	font-family: "Lato", sans-serif;
	letter-spacing: 4px;
	color: #fafafa;
	font-size: 2em;
	font-weight: bold;
	}
.logo_small{
	font-family: "Lato", sans-serif;
	letter-spacing: 4px;
	color: #fafafa;
	font-size: 1.3em;
	font-weight: bolder;
	}
.bg_green {
	background-color: #0fbeba;
	}
.border_green{
	border: 1px solid  #0fbeba;
	}
.border_green:hover{
	background-color: rgba(0,195,209, 0.2);
	}
/*changing default blue active class color to match website colors*/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index:2;
	color:#ffffff;
	background-color:#0fbeba;
	border-color:#0fbeba;
	border-radius: 0;
	}
.price{
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #635b4e;
	font-size: 1.1em;
	}
.vertically_aligned {
	margin: auto 0;
	}

.horizontally_aligned {
	margin: 0 auto;
	}
.no_border {
	border: none;
	}
.border_bottom_only {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	}

 input:hover,  select:hover {
	background-color: rgba(0,195,209, 0.2);
	}
/*map holder*/
#map {
	min-height: 360px;
	}
.social-networks {
	text-align: center;
	}

.social-networks li {
	display: inline;
	}

.social-networks i {
	font-size: 160%;
	color: #777777;
	margin: 1%;
	padding: 5%;
	}
.btn{
	border-radius: 0;
	}