@import url('https://fonts.googleapis.com/css?family=Lato:300,800|Oswald&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	}

body {
	font-family: "Lato", sans-serif;
	color: #777777;
	}

h2, h3, h4, .nav_link {
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #635b4e;
	}

.nav_link_property {
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #635b4e;
	font-size: 0.8em;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 0;
	}

.nav_link_property.board {
	text-transform: none;
	letter-spacing: 0;
	padding: 0;
	}

span.nav_link_property {
	text-transform: none;
	font-size: 0.9em;
	}

.availability.nav_link_property {
	font-size: 1.2em;
	text-transform: uppercase;
	}

.logo {
	font-family: "Lato", sans-serif;
	letter-spacing: 4px;
	/*color: #fafafa;*/
	font-size: 2em;
	font-weight: bold;
	}

.logo_small {
	font-family: "Lato", sans-serif;
	letter-spacing: 4px;
	/*color: #fafafa;*/
	font-size: 1.1em;
	font-weight: bolder;
	}

.logo_sec_small {
	font-family: "Lato", sans-serif;
	letter-spacing: 4px;
	color: #fafafa;
	font-size: 0.9em;
	font-weight: bolder;
	}

.logo_sec_xs {
	font-family: "Lato", sans-serif;
	letter-spacing: 4px;
	color: #fafafa;
	font-size: 0.5em;
	font-weight: normal;
	}

.small_menu {
	font-size: 0.6em;
	}

#hero_image {
	height: 0;
	padding: 0;
	padding-bottom: 18.75%; /* aspect ratio of the image 300/1600*/
	}

.propderty_img {
	width: 10rem;
	}

.bg_green {
	background-color: #0fbeba;
	}

hr.green {
	width: 450px;
	margin: -25px 50% 50px 25%;
	border: 1px solid rgba(0, 195, 209, 1);
	}

.bg_green_light {
	background-color: rgba(0, 195, 209, 0.5);
	}

.border_green {
	border: 1px solid #0fbeba;
	}

.border_green:hover {
	background-color: rgba(0, 195, 209, 0.2);
	}

.bg_orange {
	background-color: #ffdd00;
	}

.border_orange {
	border: 1px solid #ffdd00;
	}

.bg_orange_light {
	background-color: rgba(255, 221, 0, 0.5);
	}

.bg_green_light_g {
	background-color: rgba(157, 192, 46, 0.5);
	}

.bg_grey_light {
	background-color: rgba(118, 136, 148, 0.5);
	}

/*changing default blue active class color to match website colors*/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #ffffff;
	background-color: #0fbeba;
	border-color: #0fbeba;
	border-radius: 0;
	}

.price {
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #635b4e;
	font-size: 1.1em;
	}

.vertically_aligned {
	margin: auto 0;
	}

.horizontally_aligned {
	margin: 0 auto;
	}

.no_border {
	border: none;
	}

.border_bottom_only {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	}

input:hover, select:hover {
	background-color: rgba(0, 195, 209, 0.2);
	}

/*map holder*/
#map {
	min-height: 400px;
	}

.social-networks {
	text-align: center;
	}

.social-networks li {
	display: inline;
	}

.social-networks i {
	font-size: 160%;
	color: #777777;
	margin: 1%;
	padding: 5%;
	}

.btn {
	border-radius: 0;
	}

.week {
	cursor: pointer;
	color: #fafafa;
	}

.week:hover {
	background-color: #adff02; /*light green*/
	color: #777777;
	}

#mapid { height: 180px; }

.popup_class .leaflet-popup-tip,
.popup_class .leaflet-popup-content-wrapper {
	background-color: rgba(0, 195, 209, 0.8);
	color: #fafafa;
	font-size: 1.2em;
	}

.leaflet-container a.leaflet-popup-close-button {
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: red;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}

.leaflet-container a.leaflet-popup-close-button:hover {
	color: red;
	}

.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	}

.leaflet-popup-tip-container {
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
	}

/*AUTO COMPLETE CSS*/
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 13%; /* was 0 changed to 8% to allow for the icon*/
	right: 0;
	}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #b0edeb;
	border-bottom: 1px solid #d4d4d4;
	}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: rgba(0, 195, 209, 1);
	color: #fafafa;
	}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
	}

.show_content {
	cursor: pointer;
	}

.images.carousel {
	}

.images.carousel-inner {
	width: 50%;
	left: 25%;
	margin-top: 1%;
	}

.images.caption {
	background-color: rgba(118, 136, 148, 0.7);
	}

.step_divider {
	width: 40px;
	color: #777777;
	margin-bottom: 20px;
	border-bottom: 2px solid #0fbeba
	}

.progress_step {
	width: 40px;
	font-size: 1.1rem;
	color: #fafafa;
	border-radius: 50%;
	margin: 0;
	background-color: rgba(0, 195, 209, 1);
	}

.progress_step.empty {
	color: rgba(0, 195, 209, 1);
	background-color: #ffffff;
	border: 1px solid rgba(0, 195, 209, 1);
	}

.progress_step.p_description {
	width: 75px;
	font-size: 1rem;
	font-family: Oswald, sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;
	color: rgba(0, 195, 209, 1);
	border-radius: 0;
	margin: 0;
	background-color: #ffffff;
	}

.step_divider.p_description {
	width: 5px;
	color: #777777;
	margin-bottom: 0;
	border-bottom: 0;
	}

.step_holder {
	height: 40px;
	}

@media screen and ( max-width: 1200px ) {
	
	}

@media screen and ( max-width: 990px ) {
	
	}

@media screen and ( max-width: 767px ) {
	#hero_image {
		height: 0;
		padding: 0;
		}
	}

@media screen and ( max-width: 540px ) {
	.progress_step.description {
		font-size: 0.8rem;
		}
	
	.step_divider {
		width: 30px;
		margin-bottom: 15px;
		}
	
	.progress_step {
		width: 30px;
		font-size: 0.8rem;
		}
	
	.step_holder {
		height: 30px;
		}
	}